name: App CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'

    - name: Install dependencies
      run: npm install

    - name: Run lint & circular dependency tests
      run: npm run lint && npm run circular

    - name: Run unit tests
      run: npx wtr --coverage --verbose

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
